* {
  font-family: "Poppins", sans-serif;
}
.link {
  text-decoration: none;
  color: white;
}
body {
  margin: 0px;
  /* background-color: #f2f2f1; */
  background-color: #f2f2f1;
}
.background-image {
  background: url("/images/showcase1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ResetPassword {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.ResetPassword input {
  width: 30%;
  box-sizing: border-box;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #bbb;
  outline: none;
}
.ResetPassword button {
  width: 30%;
  box-sizing: border-box;
  padding: 7px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: #1b1b1d;
  color: white;
}
.ResetPassword button:hover {
  background-color: #36363a;
  cursor: pointer;
}
.Welcome {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: calc(100% - 70px);
}
.Welcome .title {
  font-size: 2rem;
  margin-top: 50px;
  text-align: center;
}
.Welcome .text {
  text-align: center;
}

/* Nav */
.Nav {
  display: flex;
  justify-content: space-around;
  gap: 400px;
  padding: 15px 50px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(180%) blur(4px);
  z-index: 2;
}
.Nav .logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;

  color: whitesmoke;
}
.nav-links .auth-btn {
  display: flex;
  gap: 5px;
}
.nav-links div {
  cursor: pointer;
}
.nav-links button {
  cursor: pointer;
}
.nav-links .login-btn {
  border: 1px solid #a6a670;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: transparent;
}
.nav-links .discover {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-links .discover:hover {
  color: rgb(179, 179, 179);
}

.nav-links .login-btn:hover {
  border: 1px solid #626267;
  color: rgb(179, 179, 179);
}

.nav-links .register-btn {
  background-color: #a6a670;
  padding: 10px 25px;
  color: white;
  border-radius: 5px;
  border: none;
}

.nav-links .register-btn:hover {
  background-color: #626267;
}
/* ShowCase */
.ShowCase {
  height: 450px;
  display: flex;
  flex-direction: column;

  position: relative;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.showcase-img {
  height: inherit;
  flex: 90%;
  width: 100%;

  background-color: #e0e0e0;

  position: relative;
}
.showcase-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.97;
}
.showcase-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(180%) blur(4px);
}

.ShowCase h3 {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 70%;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.SearchAccomodations {
  position: absolute;
  bottom: 20px;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  gap: 5px;
  align-items: center;

  padding: 15px;
  background-color: white;

  border-radius: 25px;
  z-index: 2;
}
.SearchAccomodations label {
  flex: 3;
  color: #626267;
  padding: 0px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.SearchAccomodations input[type="number"],
input[type="text"] {
  flex: 2;
  padding: 15px 10px;
  border-radius: 25px;
  border: none;
  background-color: #ebebeb;

  text-align: center;
}

.SearchAccomodations input[type="submit"] {
  flex: 1;
  padding: 15px 32px;
  border: 1px solid #a6a670;
  background-color: #a6a670;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.SearchAccomodations input[type="submit"]:hover {
  background-color: #36363a;
  border: 1px solid #36363a;
  cursor: pointer;
}

.SearchAccomodations input[type="date"] {
  width: 70%;
  padding: 15px 15px;
  flex: 2;
  border-radius: 25px;
  border: none;
  background-color: #ebebeb;

  text-align: center;
}
/* Categories */
.Categories {
  margin: 10px 100px 25px 0px;
}
.Categories .heading {
  text-align: start;
  padding-left: calc(100% / 3 - 380px);
  font-size: 1.4rem;
  color: #212124;
  font-weight: 700;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
}

.Card {
}

.Card .img {
  height: 300px;
  width: 300px;
  box-shadow: 1px 1px 5px #aaaaaa;
  border-radius: 25px;
}
.Card img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
}
.Card img:hover {
  opacity: 0.8 !important;
  filter: alpha(opacity=70) !important; /* For IE8 and ea rlier */
}
.Card .title {
  margin-top: 30px;
  font-size: 1.2rem;
  color: #212124;
  font-weight: 600;
}
.Card .room-number {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #646466;
}
.heading {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 25px;
  color: #1b1b1d;
}

/** RESULTS PAGE **/
.ResultsPage {
  height: calc(100% - 220px);
}
.ResultsPage .Nav {
  background-color: #f2f2f1;
}

.ResultsPage .Nav .nav-links .login-btn {
  color: #1b1b1d;
}
.ResultsPage .Nav .nav-links .discover {
  color: #1b1b1d;
}

.ResultsPage .Nav .nav-links .login-btn:hover {
  background-color: #5c5c69;
  border: 1px solid #5c5c69;
  color: white;
}

.ResultsPage .nav-links .discover:hover {
  color: #777737;
}

.search-div {
  background: linear-gradient(#5c5c69, #36363a);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: saturate(180%) blur(40px);
  box-shadow: 2px 2px 10px #6d6d6d;
}

.all-results {
  margin-left: 15%;
}
.SearchAccomodationsResults {
  display: flex;
  gap: 5px;
  align-items: center;

  padding: 15px;
  background-color: white;

  border-radius: 25px;
  width: 70%;
}

.SearchAccomodationsResults label {
  flex: 3;
  color: #626267;
  padding: 0px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.SearchAccomodationsResults input[type="number"] {
  flex: 2;
  padding: 15px 10px;
  border-radius: 25px;
  border: none;
  background-color: #ebebeb;

  text-align: center;
}
.SearchAccomodationsResults input[type="submit"] {
  flex: 1;
  padding: 15px 32px;
  border: 1px solid #a6a670;
  background-color: #a6a670;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.SearchAccomodationsResults input[type="submit"]:hover {
  background-color: #36363a;
  border: 1px solid #36363a;

  cursor: pointer;
}
.SearchAccomodationsResults input[type="date"] {
  width: 70%;
  padding: 15px 15px;
  flex: 2;
  border-radius: 25px;
  border: none;
  background-color: #ebebeb;

  text-align: center;
}
/* Filters */
.Filters {
  flex: 10%;
  padding: 30px 25px;
  font-size: 1.3rem;
}

.Results {
  flex: 90%;

  padding-left: 5px;
}
.Results select {
  outline: none;
  border-radius: 25px;
}
.NavPath {
  margin: 25px 0px 25px 12%;
  font-size: 1.1rem;
  display: flex;
}

.NavPath .link {
  color: #585851;
  text-decoration: none;
}
.NavPath div {
  color: #626267;
}
.NavPath .arrow {
  margin: 0px 10px;
}
.NavPath .link:hover {
  color: #a6a670;
}
.sort-map select {
  width: 160px;
}
.sort-map select option {
  padding: 15px;
}

.Filters .title {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px;
}
.Filters iframe {
  border: none;
  outline: none;
  border-radius: 25px;
}

.Filters .filter-section {
  border: 1px solid #bbb;
  padding: 15px;
  font-size: 1.1rem;
  border-radius: 5px;
  margin: 0px 0px;
}

.results-main {
  display: flex;
  width: 80%;

  margin: 0px auto;
}

.results-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ResultCard {
  display: flex;
  gap: 15px;
  background-color: white;
  box-shadow: 1px 1px 5px #bbb;
  border-radius: 25px;
}
.ResultCard .star {
  color: orange;
}
.like-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.like-btn .icon {
  font-size: 32px;
  color: #1c1c1f;
}
.like-btn .icon:hover {
  color: #777737;
}
.ResultCard .img {
  flex: 30%;
  height: 200px;
  cursor: pointer;
  border-radius: 25px;
}
.ResultCard img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.ResultCard img:hover {
  opacity: 0.8 !important;
  filter: alpha(opacity=70) !important; /* For IE8 and ea rlier */
}
.result-card-info {
  flex: 70%;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.side-two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* AccomodationCard */
.AccomodationCard {
  width: 70%;
  margin: 0px auto;

  padding: 15px 0px;
}
.AccomodationCard h4 {
  font-size: 1.4rem;

  font-weight: 600;
}
.AccomodationCard h5 {
  font-size: 1.2rem;
  font-weight: 700;
}
.AccomodationCard .acc-name {
  font-size: 1.6rem;
}
.AccomodationCard .back {
  font-size: 1.8rem;
  cursor: pointer;
  padding: 5px;
}
.AccomodationCard .back:hover {
  background-color: #acacaca4;
  border-radius: 50%;
}
.acc-info-section p {
  line-height: 1.6rem;
}
.accomodation-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.slides-book {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 100%;
}
.book-map {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.book-card {
  width: 250px;
  height: 50%;
  border: 1px solid #bbb;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
}
.book-card .title {
  width: calc(100% - 150px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #bbb;
  padding: 5px 50px;
}
.book-card .title .pts {
  background-color: #777737;
  color: whitesmoke;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 5px 5px 5px 0px;
}
.book-map iframe {
  border: none;
  outline: none;
  height: 60%;
  border-radius: 25px;
  box-shadow: 1px 1px 3px #bbb;
}

.AccomodationCard .slides {
  height: 400px;
  width: 45vw;
  position: relative;
  margin: 25px 0px;
  display: flex;

  /* Add the following lines for smooth scrolling */
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
  border-radius: 25px;
  box-shadow: 1px 1px 3px #bbb;
}
.currentSlide {
  width: inherit;
}
.slides img {
  width: inherit;
  height: 100%;
  border-radius: 25px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-size: 2.4rem;
  padding: 0px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(180%) blur(4px);
}

.share-btn {
  text-align: end;
  background-color: #1c1c1f;
  padding: 7px 15px;
  border: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.share-btn .icon {
  font-size: 1.2rem;
}
.book-btn {
  background-color: #1c1c1f;
  color: white;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 5px;
  width: 75%;
}
.share-btn:hover {
  background-color: #626267;
}
.book-btn:hover {
  background-color: #626267;
}
.AccomodationCard .accomodation-reviews {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}
.AccomodationCard .review-card {
  flex: 1;
  /* background-color: whitesmoke; */
  background-color: white;
  border-radius: 25px;
  padding: 5px 25px;
  margin: 15px 0px;
  box-shadow: 1px 1px 3px #d4d4d4;
}
.AccomodationCard .star {
  color: yellow;
}
.book-card .star {
  color: orange;
}

.name-pic {
  display: flex;
  gap: 15px;
  margin: 15px 0px;
}
.name-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* User Dashboard */

.UserProfile {
  text-align: center;
}
.UserProfile .close {
  background-color: transparent;
  border: none;
  margin-left: 50%;
  margin-top: 40px;
  font-size: 1.7rem;
  cursor: pointer;
}
.UserProfile input {
  width: 25%;
  padding: 10px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.521);
}
.UserProfile .password button {
  background-color: #d42727;
  padding: 7px 2px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 15px;
}
.UserProfile .account-update {
  margin-top: 25px;
}
.UserProfile .account-update button {
  background-color: #1c1c1f;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 25px;
  width: 25%;
}
.UserProfile .account-update button:hover {
  background-color: #1c1c1fe7;
}
.UserDashboard {
  height: 100vh;
  display: flex;
  width: 100vw;
}

.Main {
  flex: 8;
  height: inherit;
  width: calc(100% - 355px);
  background-color: white;
  overflow-y: scroll;
}

.DashboardNav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 45px;

  box-shadow: 1px 0px 5px #bbb;
  padding-right: 150px;
}
.DashboardNav p {
  cursor: pointer;
}
.DashboardNav p:hover {
  color: #777737;
}
.DashboardNav div {
  cursor: pointer;
}
.DashboardNav .discover {
  display: flex;
  align-items: center;
  gap: 5px;
}
.DashboardNav .discover .icon {
  font-size: 1.3rem;
}
.Sidebar {
  flex: 2;
  width: 30%;

  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 10px 5px;
  background-color: #1c1c1f;
  gap: 50px;
}
.Sidebar .logo-container {
  flex: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.logo-container .icon {
  font-size: 34px;
  color: #585851;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #b2bd7e;
  margin: 0px;
}
.logout {
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-links {
  flex: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-links .link {
  cursor: pointer;
  margin: 0px 80px;
  padding: 10px 0px;
}
.sidebar-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.link .icon {
  flex: 5%;
  font-size: 32px;
}
.link .text {
  flex: 25%;

  display: flex;
}
.sidebar-links .link:hover {
  background-color: #a6a670;
  border-radius: 25px;
}

/* Bookings */
.bookings-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 15px 25px;
}
.booking-card-div {
  display: flex;
  align-items: center;
  width: 60%;
  height: 200px;

  background-color: #eeeeee63;
  border-radius: 25px;
}
.booking-card-div span {
  width: 10%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 200;
  color: #b9b9b9;
}
.booking-card-div:hover {
  background-color: #c0c0c04d;
}
.booking-card-div:hover span {
  color: rgb(100, 100, 100);
}

.BookingCard {
  width: 90%;
  height: 100%;
  display: flex;
  gap: 15px;

  box-shadow: 1px 1px 5px #bbb;
  border-radius: 25px;
  background-color: white;
}
.BookingCard .img {
  flex: 30%;
  height: 100%;
  border-radius: 25px;
}

.BookingCard img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.booking-card-info {
  flex: 70%;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  text-align: start;
}
.booking-card-info h5 {
  margin: 0px;
  padding: 0px;
  text-align: start;
  font-weight: 600;
}
.booking-card-info h4 {
  font-weight: 700;
}
.booking-card-info .description {
  word-wrap: break-all;
  width: 80%;
}
.booking-card-info .status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.booking-card-info .status p {
  text-align: start;
  padding: 0px;
  margin: 0px;
}
.booking-card-info .stars {
  color: goldenrod;
  font-weight: 600;
  font-size: 1rem;
  margin: 0px 5px;
}
.BookingCard .side-one {
  flex: 4;
  justify-content: space-evenly;
}
.BookingCard .side-two {
  flex: 1;
  justify-content: space-evenly;
}

/* Pending */
.Pending {
  padding: 5px 25px;
}
.pending-div {
  display: flex;
}
.pending-div div {
  flex: 1;
  margin: 15px 0px;
}

.PendingCard {
  padding: 2px 5px 0px 5px;
  box-shadow: 1px 1px 5px #bbb;
}
.pending-btns {
  text-align: end;
}
.pending-btns button {
  border: none;
  padding: 5px 10px;
  color: white;
  background-color: #a6a670;
  margin: 2px;
  cursor: pointer;
}

/* Reviews */
.Reviews {
  padding: 5px;
}
.reviews-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 15px 25px;
}
.ReviewCard {
  width: 60%;

  height: 200px;
  display: flex;
  gap: 15px;

  box-shadow: 1px 1px 5px #bbb;
  border-radius: 25px;
  padding: 0px 5px 0px 0px;
}
.ReviewCard .img {
  border-radius: 25px;
  height: 200px;
}
.ReviewCard .img img {
  border-radius: 25px;
  height: 200px;
}
.ReviewCard .review-header {
  display: flex;
  justify-content: space-between;
}
.ReviewCard .review-text {
  display: flex;
  flex-direction: column;
}
.ReviewForm {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.ReviewForm .form-div {
  margin: 20px 0px;
}
.ReviewForm .form-div .no-bookings {
  padding: 15px;
  width: 700px;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.ReviewForm .form-div form {
  margin: 0 auto 0 auto;
  padding: 15px;
  width: 700px;

  background-color: white;
  border-radius: 25px;
}
.ReviewForm form input[type="file"] {
  font-size: 0.7rem;

  outline: none;
  border: none;
}
.ReviewForm form input {
  margin: 10px 0px;
  padding: 5px;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 25px;
}

.ReviewForm form label {
  width: 100%;
  padding: 0px;
  margin: 0px;
  color: rgb(133, 133, 133);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.ReviewForm .form-close {
  text-align: end;
  font-size: 1.5rem;
  margin-top: 35px;
  margin-right: -50px;
  cursor: pointer;
}
.ReviewForm .form-close:hover {
  color: #a6a670;
  cursor: pointer;
}

.ReviewForm input[type="submit"] {
  padding: 7px 15px;
  width: 100%;
  background-color: #a6a670;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
.ReviewForm input[type="submit"]:hover {
  background-color: #626267;
  cursor: pointer;
}

.rating-guests {
  display: flex;
}

.img-rating {
  flex: 30%;
  display: flex;
  flex-direction: column;
}
.img-rating .img {
  width: 100%;
  height: 150px;
  background-color: #bbb;
}

.img-rating img {
  width: 100%;
  height: 100%;
}

.img-rating p {
  margin: 5px;
}

.review-text {
  flex: 70%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
/* AddReview */
.AddReview {
  text-align: end;
}
.AddReview button {
  background-color: #a6a670;
  border: none;
  padding: 5px 15px;
  color: white;
  cursor: pointer;
  margin: 0px 25px 0px 0px;
  border-radius: 25px;
}
.AddReview button:hover {
  background-color: #777737;
}
/* Favourites */
.Favourites {
  padding: 15px 25px;
}
.no-favs {
  width: 100%;
  display: flex;
  justify-content: center;
}
.favourites-div {
  display: flex;
  gap: 25px;
}
.FavouriteCard {
  padding: 5px 0px;
  box-shadow: 1px 1px 5px #bbb;
  border-radius: 5px;
}
.FavouriteCard P {
  padding: 0px 5px;
}
.FavouriteCard .img {
  width: 200px;
  height: 200px;
}
.FavouriteCard img {
  width: 100%;
  height: 100%;
}
.remove-fav {
  font-size: 1.1rem;
  cursor: pointer;
}

.remove-fav:hover {
  color: #a6a670;
}
/* History */
.history-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.HistoryCard {
  width: 80%;
  padding: 2px 5px 0px 5px;
  box-shadow: 1px 1px 5px #bbb;
}

/* Admin Dashboard */

.AdminDashboard {
  height: 100vh;
  display: flex;
  width: 100vw;
}

/* Reservations */
.Reservations {
  padding: 5px 25px;
}
.reservations-div {
  display: flex;
}
.reservations-div div {
  flex: 1;
  margin: 15px 0px;
}

.ReservationCard {
  width: 80%;
  padding: 15px;
  box-shadow: 1px 1px 5px #bbb;
}
.v-btn {
  text-align: end;
}
.v-btn button {
  border: none;
  padding: 5px 10px;
  color: white;
  background-color: #a6a670;
  margin: 0px;
  cursor: pointer;
}
.ReservationCard p {
  margin: 0px;
  padding: 0px;
}
.ReservationCard h8 {
  margin: 0px;
  padding: 0px;
}
.checkin-out,
.status-date {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.checkin-out div {
  margin: 0px;
}
.status-date div {
  margin: 0px;
}

/* ReservationViewCard */
.ReservationViewCard {
  padding: 25px;
  margin: 50px 100px;
}

.view-checkin-out {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.view-checkin-outdiv {
  margin: 0px;
}
.view-btns {
  text-align: end;
}
.view-btns button {
  background-color: #a6a670;
  border: none;
  color: white;
  padding: 5px 15px;
  margin: 2px;
  cursor: pointer;
}

/* Accomodations */
.accomodations-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
}
.AccCard {
  width: 80%;
  display: flex;
  gap: 15px;

  box-shadow: 1px 1px 5px #bbb;
}
.AccCard .img {
  flex: 30%;
  background-color: #bbb;
}

.acc-card-info {
  flex: 70%;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}

/* AddAccomodation */
.AddAccomodation {
  text-align: end;
}
.AddAccomodation button {
  background-color: #a6a670;
  border: none;
  padding: 5px 15px;
  margin: 5px;
  color: white;
  cursor: pointer;
}

/* AccomodationDetails */
.AccomodationDetails {
  width: 70%;
  margin: 0px auto;

  padding: 15px;
}
.AccomodationDetails .img {
  height: 400px;
  width: 70%;
  background-color: #bbb;
}

.update-delete-btns button {
  background-color: #a6a670;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 2px;
  cursor: pointer;
}

.login-register-container {
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* User Login */
.UserLogin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  background-color: white;
}
.UserLogin .logo-container {
  cursor: pointer;
}
.login-to-register {
  display: flex;
  align-items: center;
  gap: 5px;
}
.login-to-register p {
  color: #1e2f23;
  cursor: pointer;
}

.login-to-register p:hover {
  color: #34632f;
}

.login-form-container {
  flex: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.UserLogin .form {
  margin: 50px auto;
  padding: 25px 0px;
  width: 60%;
}
.UserLogin input,
textarea,
select {
  outline: none;
  border: 1px solid #bbb;

  margin: 15px 0;
  padding: 5px;
  width: 98%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 25px;
  display: inline-block;
}
.UserLogin .form div label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.UserLogin .submit-btn {
  margin: 5px 0px;
  padding: 5px;
  width: 100%;
  background-color: #a6a670;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
.UserLogin .guest-submit-btn {
  margin: 5px 0px;
  padding: 5px;
  width: 100%;
  background-color: #5c5c69;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
.UserLogin .guest-submit-btn:hover {
  background-color: #1c1c1f;
}
.UserLogin .submit-btn:hover {
  background-color: #626267;
}

.login-img {
  flex: 40%;
  height: 500px;
  border-radius: 25px;
  box-shadow: -2px 0px 3px 0px #bbbbbb67;
}

.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

/* Admin Login */
.AdminLogin {
  height: 100vh;
  display: flex;
  align-items: center;

  padding: 0px 50px;
}

.login-to-register p {
  color: #1e2f23;
  cursor: pointer;
}

.login-to-register p:hover {
  color: #34632f;
}

.login-form-container {
  flex: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AdminLogin .form {
  margin: 50px auto;
  padding: 25px 0px;
  width: 60%;
}
.AdminLogin input,
textarea,
select {
  outline: none;
  border: 1px solid #bbb;

  margin: 15px 0;
  padding: 5px 0px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 5px;
  display: inline-block;
}
.AdminLogin .form div label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.AdminLogin .submit-btn {
  margin: 5px 0px;
  padding: 5px 0px;
  width: 100%;
  background-color: #a6a670;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.AdminLogin .submit-btn:hover {
  background-color: #626267;
}

.login-img {
  flex: 40%;

  height: 500px;
  background-color: #bbb;
}

.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Registration */
.UserRegistration {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0px 50px;
}
.register-to-login {
  font-size: 0.7rem;
  display: flex;
}
.register-to-login p {
  color: #1e2f23;
  margin: 0px 5px;
  cursor: pointer;
}

.UserRegistration h3 {
  margin: 0px;
}
.UserRegistration .logo-container {
  cursor: pointer;
}
.register-to-login p:hover {
  color: #34632f;
}

.register-form-container {
  flex: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UserRegistration .form {
  width: 50%;
  margin: 0px;
  padding: 25px 0px;
}
.UserRegistration input,
textarea,
select {
  outline: none;
  border: 1px solid #bbb;

  margin: 15px 0px 5px 0px;
  padding: 5px;
  width: 98%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 25px;
  display: inline-block;
}
.UserRegistration .form div label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.UserRegistration .submit-btn {
  margin: 5px 0px;
  padding: 5px 7px;
  width: 100%;
  border-radius: 25px;
  background-color: #a6a670;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.UserRegistration .submit-btn:hover {
  background-color: #626267;
}
.register-img {
  flex: 40%;
  height: 500px;
  box-shadow: -2px 0px 3px 0px #bbbbbb67;
  border-radius: 25px;
}

.register-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

/* Checkout */
.Checkout {
  height: 100vh;
  display: flex;
  align-items: center;

  padding: 0px 50px;
}

.checkout-form-container {
  flex: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Checkout form {
  margin: 50px auto;
  padding: 25px 0px;
  width: 60%;
}
.Checkout input,
textarea,
select {
  outline: none;
  border: 1px solid #bbb;

  margin: 15px 0;
  padding: 5px 0px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 5px;
  display: inline-block;
}
.Checkout form div label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.Checkout input[type="submit"] {
  margin: 5px 0px;
  background-color: #626267;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.Checkout input[type="submit"]:hover {
  background-color: #36363a;
}

.booking-order {
  flex: 40%;

  height: 500px;

  text-align: center;
}
.booking-order div {
  margin: 0px 250px;
  height: 80%;
  border: 1px dashed black;
}
.profile-pic {
  margin-top: 25px;
}
.profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

input[type="date"] {
  padding: 0px;
  margin-left: 15px;
  width: 20px;
}
input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: transparent;
}
code {
  font-family: Consolas, "courier new";

  background-color: #e4e4e4;
  padding: 5px;
  font-size: 105%;
  box-shadow: 1px 1px 5px #bbb inset;
  border-radius: 5px;
}

.Success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.Success div div {
  color: #a6a670;
  cursor: pointer;
}
.Success div div:hover {
  color: #36363a;
}

.Cancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.Cancel div div {
  color: #a6a670;
  cursor: pointer;
}
.Cancel div div:hover {
  color: #36363a;
}

.account-update button {
  padding: 5px 15px;
  background-color: #a6a670;
  border: none;
  color: white;
  cursor: pointer;
}

.error {
  padding: 0px;
  margin: 0px;

  font-size: 0.8rem;
  color: #900;
}

/*Loading*/
.Loading {
  height: calc(100vh - 220px);
  text-align: center;
  margin: 15px;
}
.dropbtn span {
  color: #626267;
}
.dropbtn .icon {
  color: #626267;
  font-size: 32px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.notification-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  width: 200px;
  padding: 10px 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 25px;
}
.notification-content div {
  text-align: center;
}
.dropdown:hover .notification-content {
  display: block;
}
.notification-content ul {
  margin: 0px;
  padding: 0px;
}
.notification-content li {
  font-size: 0.8rem;
  margin: 5px 0px;
  color: #626267;
}
/* Footer */
.footer-logo {
  color: #a6a670;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: start;
  gap: 15px;
  cursor: pointer;
}
.footer-logo .icon {
  font-size: 34px;
  color: #585851;
}

.footer-logo .logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #b2bd7e;
  margin: 0px;
}
.footer {
  color: white;
  background-color: #1c1c1f;

  font-family: "Ubuntu";

  padding-top: 75px;
  margin-top: 150px;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;

  padding-bottom: 50px;
}

/* Support Section - Footer */
.support-links {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.support-h {
  margin-bottom: 45px;

  font-weight: 600;
}

.support-links > a {
  color: white;

  text-decoration: none;
}

.support-links > a:hover {
  text-decoration: underline;
}

/* Company Section - Footer */
.company-links {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.company-h {
  margin-bottom: 45px;

  font-weight: 600;
}

.company-links > a {
  color: white;

  text-decoration: none;
}

.company-links > a:hover {
  text-decoration: underline;
}

/* Connect Section - Footer */
.connect-links {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.connect-h {
  margin-bottom: 45px;

  font-weight: 600;
}

.connect-links > a {
  color: white;

  text-decoration: none;
}

.connect-links > a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1287px) and (max-width: 1440px) {
  .SearchAccomodations {
    width: 80%;
  }
  .SearchAccomodationsResults {
    width: 80%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1286px) {
  .SearchAccomodations {
    flex-direction: column;
    gap: 10px;
  }
  .SearchAccomodations input[type="text"] {
    width: 100%;
    padding: 7px;
  }
  .SearchAccomodations input[type="number"] {
    width: 100%;
    padding: 7px;
  }
  .SearchAccomodations input[type="submit"] {
    width: 100%;
    padding: 7px 32px;

    border-radius: 5px;
  }
  .SearchAccomodations label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0px;
  }
  .SearchAccomodations input[type="date"] {
    width: 100%;
    padding: 7px;
    margin: 0px;
    border-radius: 25px;
    border: none;
    background-color: #ebebeb;

    text-align: center;
  }
  .ShowCase h3 {
    top: 20px;
    margin: 0px;
    left: 50%;

    font-size: 2rem;
  }
  .search-div {
    padding: 100px 0px;
  }

  .SearchAccomodationsResults {
    flex-direction: column;
    gap: 10px;
  }
  .SearchAccomodationsResults input[type="text"] {
    width: 100%;
    padding: 7px;
  }
  .SearchAccomodationsResults input[type="number"] {
    width: 100%;
    padding: 7px;
  }
  .SearchAccomodationsResults input[type="submit"] {
    width: 100%;
    padding: 7px 32px;

    border-radius: 5px;
  }
  .SearchAccomodationsResults label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0px;
  }
  .SearchAccomodationsResults input[type="date"] {
    width: 100%;
    padding: 7px;
    margin: 0px;
    border-radius: 25px;
    border: none;
    background-color: #ebebeb;

    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  /* Nav */
  .Nav {
    justify-content: space-around;
    gap: 100px;
  }
  .SearchAccomodations {
    flex-direction: column;
    gap: 10px;
  }
  .SearchAccomodations input[type="text"] {
    width: 100%;
    padding: 7px;
  }
  .SearchAccomodations input[type="number"] {
    width: 100%;
    padding: 7px;
  }
  .SearchAccomodations input[type="submit"] {
    width: 100%;
    padding: 7px 32px;

    border-radius: 5px;
  }
  .SearchAccomodations label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0px;
  }
  .SearchAccomodations input[type="date"] {
    width: 100%;
    padding: 7px;
    margin: 0px;
    border-radius: 25px;
    border: none;
    background-color: #ebebeb;

    text-align: center;
  }
  .ShowCase h3 {
    top: 20px;
    margin: 0px;
    left: 50%;

    font-size: 2rem;
  }
  .search-div {
    padding: 100px 0px;
  }
  .SearchAccomodationsResults {
    flex-direction: column;
    gap: 10px;
  }
  .SearchAccomodationsResults input[type="text"] {
    width: 100%;
    padding: 7px;
  }
  .SearchAccomodationsResults input[type="number"] {
    width: 100%;
    padding: 7px;
  }
  .SearchAccomodationsResults input[type="submit"] {
    width: 100%;
    padding: 7px 32px;

    border-radius: 5px;
  }
  .SearchAccomodationsResults label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0px;
  }
  .SearchAccomodationsResults input[type="date"] {
    width: 100%;
    padding: 7px;
    margin: 0px;
    border-radius: 25px;
    border: none;
    background-color: #ebebeb;

    text-align: center;
  }
  .BookingCard {
    flex-direction: column;
  }
  .booking-card-info {
    padding: 15px;
  }
  .booking-card-div {
    height: fit-content;
  }
  .login-register-container {
    flex-direction: column;
  }
  .UserLogin {
    overflow-y: auto;
  }
  .UserLogin .form {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .login-img {
    background-color: white;
    box-shadow: none;
  }
  .login-form-container {
    width: 100%;
  }
  .login-to-register {
    flex-direction: column;
  }
  .UserRegistration {
    overflow-y: auto;
  }
  .UserRegistration .form {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .register-img {
    background-color: white;
    box-shadow: none;
  }
  .register-form-container {
    width: 100%;
  }
  .login-to-register {
    flex-direction: column;
    width: 100vw;
  }
  .UserRegistration h3 {
    font-size: 1rem;
    width: 100vw;
  }
  .UserProfile input {
    width: 40%;
  }

  .UserProfile .account-update button {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  /* Nav */
  .Nav {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .nav-links {
    width: 100%;
    justify-content: space-between;
  }

  .SearchAccomodations {
    flex-direction: column;
  }
  .SearchAccomodations input {
    width: 100%;
  }
  .SearchAccomodations label {
    display: flex;
    flex-direction: column;
  }
  .ShowCase h3 {
    top: 20px;
    margin: 0px;
    left: 50%;

    font-size: 2rem;
  }
  .search-div {
    padding: 100px 0px;
  }
  .SearchAccomodationsResults {
    width: 70%;
    flex-direction: column;
  }
  .SearchAccomodationsResults input {
    width: 100%;
  }

  .results-main {
    flex-direction: column;
  }
  .Filters {
    display: flex;
    overflow-x: scroll;
  }
  .filter-section {
    display: flex;
    align-items: center;
  }
  .UserDashboard {
    flex-direction: column;
    overflow: hidden;
  }
  .Main {
    flex: 8;
    height: inherit;
    width: 100%;
    background-color: white;
  }

  .Sidebar {
    flex: 2;
    width: 100%;
  }
  .sidebar-links {
    flex: 90%;
    flex-direction: row;
    gap: 0px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .ReviewForm {
    padding: 0px;
  }
  .ReviewForm .form-div {
    width: 80%;
    padding: 0px;
    margin-left: -20px;
  }
  .ReviewForm .form-div form {
    margin: 0 auto 0 auto;
    width: 100%;
    overflow-y: hidden;
  }

  .ReviewForm form input {
    width: 100%;
    margin: 5px 0px;
    float: right;
  }
  .ReviewForm .form-close {
    margin-left: -205px;
  }
  .AccomodationCard .slides {
    width: 80vw;
  }
  .cards {
    justify-content: center;
    gap: 50px;
  }
  .Categories {
    width: 100%;
  }
  .Categories .heading {
    margin-left: 0px;
    text-align: center;
  }
  .slides-book {
    flex-direction: column;
    gap: 25px;
    height: 100%;
    margin-bottom: 15px;
  }
  .book-map {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .book-card {
    width: 100%;
    height: 50%;
  }
  .book-map iframe {
    height: 60%;
    width: 100%;
  }
  .booking-card-div {
    width: 95%;
  }
  .BookingCard {
    width: 90%;
  }
  .DashboardNav {
    justify-content: space-evenly;

    gap: 0px;

    padding-right: 0px;
  }
  .ReviewCard {
    width: 95%;

    height: auto;
    gap: 50px;
    flex-direction: column;
  }
  .ReviewCard .review-header {
    justify-content: center;
  }
  .ReviewCard .review-header p {
    padding: 0px;
    margin: 0px;
    word-break: break-all;
  }
  .notification-content {
    left: -120px;
  }
}

@media screen and (max-width: 480px) {
  .ResultCard {
    flex-direction: column;
  }
  .footer-logo {
    justify-content: center;
  }
  .footer-info {
    margin-bottom: 0px;
    text-align: center;
  }
  .section-one {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section-one-title {
    text-align: start;
    padding-left: 28px;
  }

  .section-three {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section-three-para2 {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 425px) {
  .cards {
    text-align: center;
  }
  .Card {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Card .img {
    width: 80%;
  }
  .footer-info {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .Nav {
    padding: 15px 20px;
  }

  .nav-links {
    width: 100%;
  }

  .logo {
    text-align: center;
  }
  .ShowCase h3 {
    font-size: 1.4rem;
  }
}
